body {
    background-color: lightsteelblue;
    font-family: fantasy;  
    
  }

header{
    background-color: rgb(20, 151, 160);
    margin: 0px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    content: 200px 60px 200px 60px;
   
}
h1{
    
    text-align: center;
    letter-spacing: 3px;
}

.main{
    content: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    padding: 0.5em;
    border: 2px ;
    display: flex;
}

.text-input{

  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 90%;
  height: 100px;

  }


  .box{
    padding: 10px;
    margin: 10px 30px 10px 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 0.5em;
    width: 40vw;
    height: auto;
  }

  button {
    border: 0;
    color: white;
    font-weight: bold;
    background-color: lightseagreen;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0.9em;
  }

